<% @x = 0 %>
<% @users.each do |user| %>
	<% @x+=1 %>
	
    <p>
    
       <%= link_to (image_tag (user.avatar.url.to_s), :class => "profphoto"), { :action => "profile", :id => @x} %> 

        <%= link_to user.name, { :action => "profile", :id => @x }%>
       
    </p>
    
<% end %>


