<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <title></title>

  <style>
    body, html {
    margin:0;


    }



    .wrapper {
    margin:0 auto;
    height: 50em;
    width: 56.5em;



    }
    .broad {
    background-color: white;
    background-size: 100% 100%;
    overflow: hidden;
    height: 24em;
    width: 46.68em;

    margin-bottom: 1em;

    box-shadow: .1em .1em .1em grey;

    }
    .profile {
    border-radius: 30em;
    background-image: url("https://lh5.googleusercontent.com/-ZadaXoUTBfs/AAAAAAAAAAI/AAAAAAAAAGA/19US52OmBqc/photo.jpg");
    background-size: 100% 100%;
    font-size: 9pt;
    box-shadow: .1em .1em .1em grey;
    height: 12.5em;
    width: 12.5em;

    }
    .footer {
    background-color: white;
    box-shadow: .1em .1em .1em grey;
    height: 8.3em;
    margin-top: 1em;
    text-align: center;



    }
    .weare {
    font-size: 17pt;
    }

    .prof {
    margin-left: 8em;
    margin-top: 7em;
    }
    .basicinfo {
    margin-top: 1em;
    font-size: 20pt;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
    color: black;
    }
    .bottomwrap {
    height: 24em;
    background-color: white;
    padding-top: .5em;
    width: 46.68em;

    box-shadow: .1em .1em .1em grey;
    }
    .header { 
    background-color: white;
    box-shadow: .1em .1em .1em grey;

    height: 5em;
    padding:0;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;


    color: black;
    margin-bottom: 1em;



    }
    .col1 {
    padding:0;
    }
    .list {
    height: 49em;

    text-align: center;
    padding: 0;
    width: 8.9em;
    margin-left: .5em;


    }
    .listhead {
    height: 3em;

    padding: 0;
    /*border-width: 1em;
    border-color: black;
    border- width*/
    box-shadow: .1em .1em .1em grey;
    background-color: white;
    text-align: center;
    margin-bottom: 1em;

    }
    .innerlist {
    overflow: auto;
    height: 44.99em;

    background-color: white;
    box-shadow: .1em .1em .1em grey;
    margin: 0;
    padding: 0;
    overflow: auto;
    }
    .bio {
    font-size: 14pt;
    background-color: white;
    height: 16em;
    margin-left: 1em;
    margin-top: .679em;

    box-shadow: .1em .1em .1em grey;
    }
    .event {
    background-color: white;
    height: 21.35em;
    margin-left: 1em;
    margin-top: .9em;
    padding: 0;
    }
    .logo1 {
    margin-left: 1em;
    margin-top: 1em;
    }
    .button {
    font-size: 13pt;
    margin-top: 1.25em;
    margin-left: 31.215em;
    width: 4em;
    z-index: 999;
    padding:0;
    }
    .eventheader {
    text-align: center;
    background-color: white;
    height: 3.5em;
    box-shadow: .1em .1em .1em grey;

    }
    .eventcontent {
    height: 16.85em;

    margin-top: 1em;
    box-shadow: .1em .1em .1em grey;
    }
    .background {
    background-image: url("https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/2/25/25156/snow_mountains-f.jpg?1372590906");
    background-size: 100% 100%;
    height: 66em;
    }
    .eventlist {
    height: 50em;
    background-color: white;
    box-shadow: .1em .1em .1em grey;
    }


  </style>
</head>
<body>
<div class = "background">
<div class = "wrapper">
<div class = "col-sm-12 header">
  <div class = "col-sm-2 logo1">
    <%= link_to image_tag('top_logo.png'), home_path, {:class => "logo"} %>
  </div>
  <div class = "col-sm-2 button">
    <%= link_to "Sign Out", signout_path %>
  </div>
</div>
  <div class = "col-sm-12 eventlist">

  </div>


</div>
<div class = "col-sm-12 footer">
<p></p>
<div class = "col-sm-5">
</div>
<div class = "col-sm-2 weare">
We Are Common
</div>
</div>
</div>


</body>
</html>