<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  <title>Home</title>

  <style>
  .bg-hero {
    text-align: center;
    font-size: 18pt;
  }
  .inner {
    border-bottom-width: .1em;
    border-bottom-style: solid;
    border-bottom-color: black;
    
  }
  .btn {
  	padding-right: 3em;
  	padding-left: 3em;
  	padding-bottom: 1.5em;
  	padding-top: 1.5em;
  }
  .buffer{
  	height:4em;
  	width: 100%;
  }
  
    

  </style>
</head>
<body>
<section class="section section-community full-width">
    <div class="bg-hero">
        <div class="inner">
            <h2>Home</h2>

            <p>
                At Common, you’re not just a member — you’re part of a community that cares.
                <p>
                Here you can view other members in your area, see their interests, and contact them before you move in.</p>
            </p>


            
        </div>

        <div class ="buffer">

        </div>
        <div type="buttons" class="btn btn-default">
                <%=link_to 'Sign Up', signup_path %> 
            </div>
        <div class ="buffer">

        </div>
        <div type="buttons" class="btn btn-default">
                <%=link_to 'Sign In', signin_path %> 
            </div>
             <div class ="buffer">

        </div>
            <div type="buttons" class="btn btn-default">
                <%=link_to 'List', list_path %> 
            </div>
            <div class ="buffer">

        </div>
        <div type="buttons" class="btn btn-default">
                <%=link_to 'profile', profile_path %> 
            </div>
    </div>
</section>




</body>
</html>